
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}
h3{
  color:#C3C1C1
}
#login-error-message {
  color: red;        
  font-size: 0.8em;
  font-family: 'Lucida Sans'; 
  margin-top: 10px;  
}
.bg {
  position: relative;
  background-color: #f2f2f2;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('ocherry.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
}

.login-container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 300px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
  }
h2 {
  margin-top: 15px;
  margin-bottom: 20px;
  font-size: 48px;
  color: #333;
}
input[type="text"],input[type="email"],
input[type="password"] {
font-family: 'Bahnschrift Light', 'Arial', sans-serif;
padding: 18px 30px;
margin: 5px 0 10px 0; 
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
border-radius: 5px;
}

.login-btn {
    background-color: #D0CECE;
    color: white;
    padding: 20px; 
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
.back-button {
  position: absolute;
  top: 20px; 
  left: 20px;
}
.login-btn:hover {
  opacity: 0.8;
}
.stars {
  text-align: center;
  padding: 5px;
}
.playfair-display-title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 1500;
  font-style: normal;
}
p{
    font-family: 'Segoe UI';
    text-align:right;
    font-size: 10px;
    color: #C3C1C1;
}
a {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000000; 
    text-decoration: none; 
    transition: color 0.3s; 
  }
  
  a:hover {
    color: #ff0000;
  }
  